\.external-link {
    color: blue;
}

body {
    background: white;
  }
  
  .skewed-bg {
      background: rgb(248, 0, 248);
      color: #FFF;
      position: relative;
      min-height:300px;
      overflow:hidden;
  }
  .skewed-bg::after {
    content: '';
    position: absolute;
    bottom: -75%; left: 0; right: 0;
    height:100%;
    background:#FFF;
    transform: skew(0deg, -9deg);
  }

.first-header {
    text-align: center; color: rgb(248, 0, 248);
    
    
}

.column {
    float: left;
    width: 50%;
}

img {
    width: 150px;   
}

.new-hr {     
    border: 4px solid rgb(248, 0, 248)
}

title {
    background-image: url(wolves.JPG);
}

h2 {
    color: rgb(248, 0, 248);
}

.listens-collage {
    background-color: black;
}
